<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>Local Elections 2016</title>
  <style>
    * {
      box-sizing: border-box;
    }
    
    html, body {
      margin: 0;
      padding: 0;
    }
    
    body {
      font-family: 'Roboto', "Helvetica Neue", Helvetica,Arial, sans-serif;
      font-size: 14px;
      color: #272727;
      background: #f7f7f7;
    }

    h4 {
      font-size: 1.2em;
      background-color: #444444;
      color: white;
      padding: 1em;
      margin: 0 auto;
      text-transform: capitalize;
      font-weight: 500;
      letter-spacing: 0.05em;
    }

    h5 {
      font-weight: 500;
      font-size: 1.1em;
    }

    .last-update {
      color: #828282;
      padding: 1em;
      font-size: 1em;
      text-align: center;
      margin: 0 auto;
      font-weight: 400;
    }

    .last-update p {
      margin: 0;
      padding: 0;
      line-height: 1.4em;
    }

    .small {
      font-size: 1em;
      font-weight: 400;
    }

    .smaller {
      font-size: 0.9em;
      font-weight: 400;
      color: #9c9c9c;
      text-transform: none;
    }

    .header {
      background: #444444;
      text-align: center;
    }

    .container {
      padding: 10px;
    }

    .card {
      margin: 1.3em auto 2em;
      background: #fff;
      -webkit-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.18);
      -moz-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.18);
      box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.18);
    }

    .card-content {
      padding: 1em 1em 2.5em;
    }

    .percent-bar {
      height: 6px;
      background: #ccc;
      border-radius: 4px;
    }

    .percent-bar-inside {
      height: 6px;
      background: #0084ff;
      border-radius: 4px;
    }

    .yellow {
      background: #eacb17;
    }

    .green {
      background: #5faf58;
    }

    .green2 {
      color: #bef9b9;
    }

    @media screen and (min-width: 1024px) {
      .card {
        max-width: 600px;
      }
    }
  </style>

</head>
<body>

  <h4 class="header">Local Elections 2016</h4>
  <div class="container">
    
    <div class="last-update">
      <p>Last update from Miami Dade Elections</p>
      <p><%= @last_update %></p>
    </div>

    <div id="kb" class="card">
      
      <h4><%= @kbcontest %><br />
      <span class="smaller"><%= @kbreport %> of <%= @kbtotal %> precincts reporting</span>
      </h4>
      <div class="card-content">

      <div class="field">
        <h5><%= @kbnames[0] %> <br /><span class="small">Votes: <%= @kbvotes[0] %> - Percent: <%= @kbpercent[0] %>%</span></h5>
        <div class="percent-bar">
          <div class="percent-bar-inside" style="width: <%= @kbpercent[0] %>%"></div>
        </div>
      </div>

      <div class="field">
        <h5><%= @kbnames[1] %> <br /><span class="small">Votes: <%= @kbvotes[1] %> - Percent: <%= @kbpercent[1] %>%</span></h5>
        <div class="percent-bar">
          <div class="percent-bar-inside" style="width: <%= @kbpercent[1] %>%"></div>
        </div>
      </div>

      <div class="field">
        <h5><%= @kbnames[2] %> <br /><span class="small">Votes: <%= @kbvotes[2] %> - Percent: <%= @kbpercent[2] %>%</span></h5>
        <div class="percent-bar">
          <div class="percent-bar-inside" style="width: <%= @kbpercent[2] %>%"></div>
        </div>
      </div>

      <div class="field">
        <h5><%= @kbnames[3] %> <br /><span class="small">Votes: <%= @kbvotes[3] %> - Percent: <%= @kbpercent[3] %>%</span></h5>
        <div class="percent-bar">
          <div class="percent-bar-inside" style="width: <%= @kbpercent[3] %>%"></div>
        </div>
      </div>

      <div class="field">
        <h5><%= @kbnames[4] %> <br /><span class="small">Votes: <%= @kbvotes[4] %> - Percent: <%= @kbpercent[4] %>%</span></h5>
        <div class="percent-bar">
          <div class="percent-bar-inside" style="width: <%= @kbpercent[4] %>%"></div>
        </div>
      </div>


      <div class="field">
        <h5><%= @kbnames[5] %> <br /><span class="small">Votes: <%= @kbvotes[5] %> - Percent: <%= @kbpercent[5] %>%</span></h5>
        <div class="percent-bar">
          <div class="percent-bar-inside" style="width: <%= @kbpercent[5] %>%"></div>
        </div>
      </div>
      </div>

    </div>

<!-------------- NEXT -->

    <div id="mayor" class="card">

      <h4><%= @mayorcontest %><br />
      <span class="smaller"><%= @mayorreport %> of <%= @mayortotal %> precincts reporting</span>
      </h4>

      <div class="card-content">
        <div class="field">
          <h5><%= @mayornames[0] %> <br /><span class="small">Votes: <%= @mayorvotes[0] %> - Percent: <%= @mayorpercent[0] %>%</span></h5>
          <div class="percent-bar">
            <div class="percent-bar-inside" style="width: <%= @mayorpercent[0] %>%"></div>
          </div>
        </div>

        <div class="field">
          <h5><%= @mayornames[1] %> <br /><span class="small">Votes: <%= @mayorvotes[1] %> - Percent: <%= @mayorpercent[1] %>%</span></h5>
          <div class="percent-bar">
            <div class="percent-bar-inside" style="width: <%= @mayorpercent[1] %>%"></div>
          </div>
        </div>
      </div>

    </div>

<!-------------- NEXT -->

    <div id="solar" class="card">
      
      <h4><%= @solarcontest %><br />
      <span class="smaller">Statewide Results - 60% to pass</h4>
      <div class="card-content">
      
        <div class="field">
          <h5><%= @solarnames[0] %> <br /><span class="small">Percent: <%= @solarpercent[0] %></span></h5>
          <div class="percent-bar">
            <div class="percent-bar-inside" style="width: <%= @solarpercent[0] %>"></div>
          </div>
        </div>

        <div class="field">
          <h5><%= @solarnames[1] %> <br /><span class="small">Percent: <%= @solarpercent[1] %></span></h5>
          <div class="percent-bar">
            <div class="percent-bar-inside yellow" style="width: <%= @solarpercent[1] %>"></div>
          </div>
        </div>


      </div>
    </div>

<!-------------- NEXT -->

    <div id="weed" class="card">
    
      <h4 class="green"><%= @weedcontest %><br />
      <span class="smaller green2">Statewide Results - 60% to pass</h4></h4>
    

      <div class="card-content">

        <div class="field">
          <h5><%= @weednames[0] %> <br /><span class="small">Percent: <%= @weedpercent[0] %></span></h5>
          <div class="percent-bar">
            <div class="percent-bar-inside green" style="width: <%= @weedpercent[0] %>"></div>
          </div>
        </div>

        <div class="field">
          <h5><%= @weednames[1] %> <br /><span class="small">Percent: <%= @weedpercent[1] %></span></h5>
          <div class="percent-bar">
            <div class="percent-bar-inside green" style="width: <%= @weedpercent[1] %>"></div>
          </div>
        </div>

      </div>

    </div>


  </div>
  
</body>
</html>